.beers {
	color:#000;
	text-align:left;
}

.beer {
	margin-bottom:10px;
}

.beer .name {
	display:inline;
	font-size:1.4em;
}

.beer .name a {
	text-decoration:none;
}

.beer .style {
	display:inline;
	color:#999;
	font-style:italic;
	font-size: .8em;
}

.beer .brewery {
	margin-top:-6px;
	color:#999;
	font-style:italic;
	font-size: .8em;
}
.beer .brewery a {
	text-decoration:none;
}

.beer .description {
	font-size: 1.0em;
	text-align:left;
}

.beer .abv, .beer .ibu {
	font-size: .8em;
	color:#999;
	display:inline;
}

.breweries {
	text-align:left;
}

.breweries .title {
	font-size:1.7em;
	margin-bottom:10px;
	padding-bottom:3px;
	border-bottom:1px dotted #999;
}

.breweries .brewery {
	margin-bottom:10px;
}

.brewery .name {
	font-size: 1.4em;
}

.brewery .name a {
	text-decoration:none;
}

.brewery .description {
	text-align:left;
}

.brewery .adr {
	display:inline;
	color:#999;
	font-style:italic;
	font-size: .8em;	
}

.brewery .adr div {
	display:inline;
}

.brewery-beers {
	margin-left:25px;
}
